* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px; 
    background-color: #f8f9fa;
    position: fixed;
    width: 100%;       
    top: 0; /* Adiciona a posição fixa no topo da página */
    left: 0; /* Garante que o header se estenda por toda a largura da página */
    z-index: 1000; /* Garante que o header fique acima do restante do conteúdo */
}


header img {
    height: 70px; 
    padding: 10px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin-right: 30px; /* Controlar a distância entre os itens do header */
}

nav ul li {
    margin: 0 20px; /* Controlar a distância entre os itens do header */
}

nav h2 {
    font-size: 20px; /* Fica à vontade ai pra mexer nas fontes */
    transition: transform 0.3s ease; /* Zoom do hover */
}

nav a {
    text-decoration: none;
    color: #888; 
    transition: color 0.3s ease; /* Transition de cores de cinza pra preto que te falei */
}

nav a:hover {
    color: #000; 
}

nav h2:hover {
    transform: scale(1.1); /* Aumentar um pouco o tamanho da fonte ao passar o mouse */
}



/* Estilo dos ícones SVG dentro do nav */
nav svg {
    fill: #888; 
    transition: fill 0.3s ease; 
    width: 24px; 
    height: 24px; 
}

nav svg:hover {
    fill: #000; 
}

.search-container {
    position: relative;
    margin-right: 30px; 
}

.search-container input[type="text"] {
    padding: 10px 15px 10px 40px; 
    border: 1px solid #ccc;
    border-radius: 30px; 
    font-size: 18px; 
    width: 400px;
}

.search-container svg {
    position: absolute;
    top: 50%;
    left: 10px; /* Ajustra o espaço para o ícone da lupa */
    transform: translateY(-50%);
    cursor: pointer;
    fill: #888;
    width: 24px; 
    height: 24px;
}

.container {
    display: flex;    
    width: 70%;
    margin: auto;
    border: 0 solid #cdcecf;
    border-width: 0 1px 0;
    padding: 20px; 
}

.infoCompra{
    margin-top: 20%;
    
    line-height: 2;   
}

main {
    padding-top: 90px; 
}

/* Estiliza a classe cartoes */
.cartoes {
    display: flex; 
    gap: 10px; 
}

.cartoes img {
    width: 30px; 
    height: auto; 
    transition: transform 0.3s ease; 
}

.cartoes img:hover {
    transform: scale(1.2); 
}

/* Section dos botões: */

.botaoComprar {
    width: 400px;
    height: 40px;
    color: white;
    background-color: black;
    margin: 30px 0;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.botaoComprar:hover {
    background-color: #333; 
}

.botaoComprar:active {
    background-color: #111; 
    transform: scale(0.98); 
}

.calcCEP {
    height: 24px;
    color: white;
    background-color: black;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.calcCEP:hover {
    background-color: #333; 
}

.calcCEP:active {
    background-color: #111; 
    transform: scale(0.98); 
    }

.inputCEP{
    height:25px;
    width: 100px;
}

.infoProduto {        
    width: 70%;
    margin: auto;
    border: 0 solid #cdcecf;
    border-width: 0 1px 1px;
    padding: 20px; 
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;    
    background-color: #3A3A3A;
    color: white;
    height: 250px;
    
}
footer a{
    text-decoration: none;
    color:white
}

footer p {
    margin-right: 10px;
    margin-bottom: 20px;
}

footer img {
    height: 30px; 
    margin-left: 50px;
   
}








