* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
}



#logo{
    margin-right: 8em;
}
header {
    
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 10px 30px;
    background-color: #f8f9fa;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    font-size: 24px; 
}


header img {
    height: 70px;
    padding: 10px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin-right: 30px; 
}

nav ul li {
    margin: 0 20px; 
}

nav h2 {
    font-size: 20px; /* Fica à vontade ai pra mexer nas fontes */
    transition: transform 0.3s ease; /* Zoom do hover */
}

nav a {
    text-decoration: none;
    color: #9b9797; 
    transition: color 0.3s ease; 
}

/* Estilo para os itens de navegação no header */
nav ul li a {
    text-decoration: none;
    color: #888; /* Cor cinza para os itens */
    font-size: 16px; /* Tamanho da fonte dos itens */
    font-weight: 500; /* Peso da fonte para dar mais destaque */
    transition: color 0.3s ease, transform 0.3s ease; 
}

nav ul li a:hover {
    color: #0f0e0e;
    transform: scale(1.1); 
}

nav a:hover {
    color: #000; 
}

nav h2:hover {
    transform: scale(1.1); 
}

/* Estilo dos ícones SVG dentro do nav */
nav svg {
    fill: #888; 
    transition: fill 0.3s ease; 
    width: 24px; 
    height: 24px; 
}

nav svg:hover {
    fill: #000; 
}

nav svg:hover {
    fill: #000; 
}

.search-container {
    position: relative;
    margin-right: 30px; 
}

.search-container input[type="text"] {
    padding: 10px 15px 10px 40px; 
    border: 1px solid #ccc;
    border-radius: 30px; 
    font-size: 18px; 
    width: 400px;
}

.search-container svg {
    position: absolute;
    top: 50%;
    left: 10px; /* Ajustra o espaço para o ícone da lupa */
    transform: translateY(-50%);
    cursor: pointer;
    fill: #888;
    width: 24px; 
    height: 24px;
}

footer {
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center;
    padding: 20px 0;    
    background-color: #3A3A3A;
    color: white;
    flex-wrap: wrap; /* Permite que o conteúdo quebre para a linha seguinte em telas menores */
}

#divFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%; /* Ajusta a largura para centralizar melhor */
    max-width: 1200px; /* Limita a largura máxima */
    gap: 50px; /* Ajusta o espaçamento entre as colunas */
}

footer a {
    text-decoration: none;
    color: white;
}

footer p {
    margin-bottom: 10px;
}

footer img {
    height: 30px;
    margin-left: 10px;
}

@media (max-width: 800px) {
    footer {
        flex-direction: column; 
        height: auto; 
    }

    #divFooter {
        flex-direction: column; 
        align-items: center;
        width: 100%;
        gap: 20px; 
    }

    footer img {
        margin-left: 0;
    }
}
