
figure{   
    display: flex;
    justify-content: center;    
   
}
.imgMain{
    width:  80%;
    margin-top: 8em;
}

.cardPerfume{
    width: 230px;
    height: 330px;
    margin-top: 2em;
    margin-left: 5em;
}
.cardPerfume:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.perfumes{
    width: 8em;
}

.infoCard{
    text-align: center;
    box-sizing: border-box;
    margin: 5px;
}

.nomePerfume{
    font-size: smaller;
}

.container{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.tituloContainer{
    margin-bottom: 1em;
    margin-left: 2em;
}

hr{
    background-color: gray;
    margin: auto;
    width: 100%;  
    margin-top: 4em;
    margin-bottom: 4em;
}

#logo{
    margin-right: 8em;
}

.nav-item a{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;

}

.destaques{
    margin-bottom: 5em;
}


#textoQuemSomos{
    margin-left: 8em;
    margin-right: 8em;
    margin-bottom: 5em;
}